
@{
    ViewData["Title"] = "BookInfo";
}

<h1>BookInfo</h1>

<p>Book: @Model.Name</p>
<p>Author: @Model.AuthorName</p>
<p>DownLoads: @Model.DownloadedTimes</p>

@foreach (var type in Model.Types)
{
<a asp-area="" asp-controller="Book" asp-route-authorname="@Model.AuthorName" asp-route-name="@Model.Name" asp-route-filetype="@type" asp-action="Download">Download  @type.ToString()</a>
}